<nav class="navbar fixed-top navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="/"><img src="https://img.icons8.com/material/50/000000/geography--v1.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a style="color:black" class="nav-link" href="/">
          <i class="fa fa-home" aria-hidden="true"></i>
          Home
        </a>
      </li>

      <li class="nav-item">
        <a style="color:black" class="nav-link" href="#">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          News
        </a>
      </li>

      <li class="nav-item">
        <a style="color:black" class="nav-link" href="/profile">
          <i class="fa fa-user" aria-hidden="true"></i>
          Profile
        </a>
      </li>

    </ul>
  </div>
</nav>